global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend vulnerable_ingress
    bind :3300
    default_backend vulnerable_grafana

backend vulnerable_grafana
    server vulnerable vulnerable:3000 check

frontend fixed_control_ingress
    bind :3301
    default_backend fixed_control_grafana

backend fixed_control_grafana
    server fixed-control fixed-control:3000 check
